body {
    font-family: Arial;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: #f4f4f4;
}

input, textarea, button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
}

.card {
    background: white;
    padding: 15px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

button {
    color: white;
    background-color: black;
    cursor: pointer;
    border: none;
    padding: 8px;
    margin-right: 5px;
}

button:hover {
    opacity: 0.8;
}